# =========================
# 🐍 PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 🧪 ENTORNOS VIRTUALES
# =========================
.venv/
venv/
env/

# =========================
# 🧠 JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# 💻 SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db

# =========================
# 📝 LOGS
# =========================
*.log

# =========================
# 🔐 VARIABLES DE ENTORNO
# =========================
.env